div {
    color: white; /* Texto en color blanco */
    padding: 20px; /* Agrega un relleno alrededor del texto */
    background-color: #3498db; /* Fondo morado */
    border-radius: 10px; /* Agrega esquinas redondeadas al fondo */
  }

  

  